/* Для сообщений от авторизованных пользователей (справа) */
.text-break.mb-2.text-end {
    background-color: green; /* Зеленый фон */
    color: white; /* Белый текст */
    border-radius: 10px; /* Скругленные углы */
    padding: 8px; /* Отступы вокруг текста */
    margin-left: auto; /* Выравнивание по правому краю */
    max-width: 70%; /* Максимальная ширина блока */
  }
  
  /* Для сообщений от неавторизованных пользователей (слева) */
  .text-break.mb-2.text-start {
    background-color: blue; /* Синий фон */
    color: white; /* Белый текст */
    border-radius: 10px; /* Скругленные углы */
    padding: 8px; /* Отступы вокруг текста */
    margin-right: auto; /* Выравнивание по левому краю */
    max-width: 70%; /* Максимальная ширина блока */
  }